#cart{
	width: 90%;
	margin: 20px auto;

}
#cart p{
	font-size: 14px;
	line-height: 36px;
}
#cart p a{
	font-size: 14px;
	color: #D4362A;
}
#cart .cartlist{
	border: 2px solid #FEB3A2;
	border-radius: 10px;
	padding: 20px;
}
#cart .cartlist .step{
	height: 60px;
	font-size: 22px;
}
#cart .cartlist .step span{
	display: inline-block;
	width: 245px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 5px;
	margin:10px;
	text-align: center;
}
#cart .cartlist .step span:first-child{
	color:#D4362A;
	border-bottom: 2px solid #D4362A;
}
#cart .cartlist .step span i{
	display: inline-block;
	width: 36px;
	height: 36px;
	font-style: normal;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	background-color: #ddd;
	color: #666;
}
#cart .cartlist .step span:first-child i{
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	text-align: center;
	line-height: 36px;
	background-color: #D4362A;
	color: #fff;
}
#cart .cartlist .blurb{
	overflow: hidden;
	background-color: #ccc;
}
#cart .cartlist .blurb li{
	float: left;
	font-size: 12px;
	padding: 10px;
	margin: 0 30px;
	width: 90px;
}
#cart .cartlist .blurb li:first-child{
	width: 500px;
	text-align: center;
}
#cart .cartlist .buy{
	border-top: 1px solid #ddd;
	margin-top: 10px;
	position: relative;

}
#cart .cartlist .buy p{
	padding-left: 20px;
	line-height: 48px;
}
#cart .cartlist .buy p .btnclear{
	background-color: #D4362A;
	color: #fff;
	border: 1px solid #D4362A;
	height: 26px;
	outline: 0;
	cursor: pointer;
	border-radius: 5px;
}
#cart .cartlist .buy p span{
	margin-left: 700px;
}
#cart .cartlist .buy p span i{
	color: #f00;
	font-style: normal;
	font-size: 16px;
}
#cart .cartlist .buy .lin{
	padding-top: 15px;
}
#cart .cartlist .buy .lin .rebtn{
	border: 1px solid #ddd;
	background-color: #fff;
	color: #D4362A;
	outline: 0;
	height: 28px;
	cursor: pointer;
}
#cart .cartlist .buy .lin .rebtn a{
	color: #D4362A;
}
#cart .cartlist .buy .lin .sumbtn{
	border: 1px solid #ddd;
	background-color: #D4362A;
	color: #fff;
	outline: 0;
	height: 28px;
	cursor: pointer;
	width: 80px;
	margin-left: 880px;
}
#cart .cartlist .car-list ul li{
	border-bottom: 1px dashed #ddd;
	padding: 10px;
	line-height: 36px;
}
#cart .cartlist .car-list ul li img{
	display: inline-block;
	margin-left: 80px;
}
#cart .cartlist .car-list ul li>span{
	display: inline-block;
}
#cart .cartlist .car-list ul li>span:nth-child(2){
	margin-left: 50px;
}
#cart .cartlist .car-list ul li>span:nth-child(3){
	margin-left: 225px;
	color: #f00;
}
#cart .cartlist .car-list ul li>span:nth-child(4){
	margin-left: 122px;
}
#cart .cartlist .car-list ul li>span:nth-child(5){
	margin-left: 130px;
	font-size: 24px;
}
#cart .cartlist .car-list ul li>span:nth-child(5):hover{
	color: #f00;
	cursor: pointer;
}
.price::before{
	content:'￥';
	font-size:16px;
}
.subPrice{
	display: inline-block;
	color: #f00;
	position: absolute;
	left: 920px;
	top: 13px;
}