#head .top{
	font-size: 12px;
	background-color: #F4F3F1;
	color: #999999;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
#head .top .left{
	float: left;
}
#head .top .left span:last-child a{
	color: #D6362A;

}
#head .top .left span:last-child{
	border-right: 0;
}
#head .top span a{
	color: #999999;
}
#head .top span{
	// margin: 5px;
	padding: 0 10px;
	border-right: 1px solid #ddd;
}
#head .top .right{
	float: right;
}
#head .top .right span>i{
	font-weight: bold;
	color: #D6362A;
}
#head .logo{
	margin-left: 40px;
	height: 110px;
	width: 100%;
}
#head .logo img{
	float: left;
}
#head .logo .search{
	float: left;
	margin-left: 100px;
	line-height: 110px;
	
}
#head .logo .search_input{
	border: 2px solid #D6362A;
	height: 36px;
	color: #666;
	width: 420px;
	border-radius: 18px 0 0 18px;
	padding-left: 15px;
}
#head .logo .search_btn{
	height: 36px;
	font-size: 14px;
	color: #fff;
	background-color:#D6362A;
	width: 60px;
	border: 2px solid #D6362A;
	cursor: pointer;
	border-radius: 0 18px 18px 0;
} 
#head .nav{
	height: 34px;
	background-color: #D6362A;
	padding-left: 40px;
}
#head .nav h3{
	float: left;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
	width: 200px;
	position: relative;
	
}
#head .nav h3 a{
	display: block;
	background-color: #B21920;
	color: #fff;
	border-radius: 18px;
	font-weight: normal;
}
#head .nav h3 span{
	position: absolute;
	top: 8px;
	left: 150px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url("img/css.fw.png") no-repeat 0 -240px;
}
#head .nav .na{
	float: left;
}
#head .nav .na li{
	float: left;
}
#head .nav .na li a{
	padding: 45px;
	line-height: 34px;
	color: #FEB3A2;
	font-size: 14px;
}
#head .nav .na li:hover a{
	color: #fff;
}
#head .nav h3 .mune{
	position: absolute;
	border: 3px solid #D6362A;
	width: 200px;
	text-align: center;
	background-color: #FEEFEC;
	display: none;
}
#head .nav h3 .mune li{
	line-height: 48px;
}
#head .nav h3 .mune li i{
	display: inline-block;
	margin-left: 30px;
}
#head .nav h3:hover .mune{
	display: block;
}