.carousel{
	position: relative;
	width: 1263px;
	height: 490px;
	overflow: hidden;
}
.carousel ul{
	position:relative;
	overflow: hidden;
	top: 0;
	left: 0;
}
.carousel li{
	float: left;
}
.prev,.next{
	position: absolute;
	top:200px;
	height:90px;
	width:60px;
	line-height:90px;
	font-size: 36px;
	text-align:center;
	background-color:#D4362A;
	color:#fff;opacity: 0;}
.prev{left: 0;}
.next{right: 0;}
.prev:hover{cursor:pointer;}
.next:hover{cursor:pointer;}
.page{
	position: absolute;
	bottom: 10px;
	right: 320px;}
.page span{display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ccc;
	font-size: 20px;
	color: #f00;
	margin: 0 5px;
	line-height: 50px;
	text-align: center;
	opacity: 0.9;}
.page .active{
	background-color: #D4362A;
	color: #fff;}
.page span:hover{cursor:pointer;}
#list h3{
	color: #D4362A;
	line-height: 56px;
	margin-left: 20px;
	font-size: 20px;
}
#list ul{
	margin-left: 10px;
	overflow: hidden;
}
#list ul li{
	width: 220px;
	float: left;
	margin: 12px;
}

#list li .price{
	color: #e60012;
	font-size: 18px;
	font-weight: bold;
	line-height: 42px;
}
#list li a{
	font-size: 16px;
	color: #666;
}
#list li .g1>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat 0 -380px; 
}
#list li .g2>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -220px -380px; 
}
#list li .g3>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -435px -380px; 
}
#list li .g4>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -660px -380px; 
}
#list li .g5>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -878px -380px; 
}
#list li .g6>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat 0 -600px; 
}
#list li .g7>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -220px -600px; 
}
#list li .g8>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -435px -600px; 
}
#list li .g9>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -660px -600px; 
}
#list li .g10>a{
	display: block;
	width: 200px;
	height: 200px;
	background:url("img/css.fw.png") no-repeat -878px -600px; 
}
#links{
	border-top: 1px dashed #ccc;
}
#links h4{
	font-size: 14px;
	line-height: 42px;
	margin-left:20px ;
}
#links ul{
	margin-left:35px ;
	overflow: hidden;
	margin-bottom: 30px;
}
#links ul li{
	float: left;
	height: 67px;
	 width: 133px;
	 text-align: center;
	border:1px solid #666;
	line-height: 67px;
}
#links ul li a{
	font-size: 12px;
	color: #666;
}
#links ul li:hover a{
	color: #D4362A;
}
#links ul li:hover{
	border: 1px solid #D4362A;
}