.login .pic{
	overflow: hidden;
 	width: 60%;
 	margin: 30px auto;
}
.login .pic .left a{
	display: block;
	float: left;
	width: 286px;
	height: 139px;
	margin-left: 90px;
	background:url("img/css.fw.png") no-repeat -29px -231px;
}
.login .pic .right a{
	display: block;
	float: left;
	width: 253px;
	height: 139px;
	margin-left: 30px;
	background:url("img/css.fw.png") no-repeat -328px -231px;
}
.login .msg{
	width: 50%;
	margin: 20px auto;
}
.login .msg .suc{
	text-align: center;
	border: 2px solid #D4362A;
	border-radius: 20px;
	height: 200px;
	display: none;
}
.login .msg .suc p{
	color: #D4362A;
	font-size: 28px;
	line-height: 100px;
}
.login .msg .suc .vbtn{
	border:1px solid #D4362A;
	width: 180px;
	background-color: #D4362A;
	height: 30px;
	border-radius: 10px;
	outline: 0;
	color: #fff;
}
.login .msg .input{
	border: 2px solid #D4362A;
	border-radius: 20px;
}
.login .msg .input .username,.pwd,.lbtn,.rbtn,.cok{
	margin-left: 180px;
	margin-top: 10px;
	font-size: 14px;
}
.login .msg .input .username input{
	width:250px;
	height: 30px;
}
.login .msg .input .pwd input{
	width:250px;
	height: 30px;
}
.login .msg .input #lbtn {
	border:1px solid #D4362A;
	width: 250px;
	background-color: #D4362A;
	height: 30px;
	border-radius: 10px;
	outline: 0;
	color: #fff;
}
.login .msg .input #register{
	border:2px solid #D4362A;
	background-color: #fff;
	width: 250px;
	height: 30px;
	border-radius: 10px;
	outline: 0;
	margin-bottom: 10px;
}
.login .msg .input #register a{
	color: #D4362A;
}